@model Employee;
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Employee</h1>

<form method="post" action="/employee/SaveChanges">
    <input type="hidden" name="id" value="@Model.ID" />
    ID: @Model.ID<br />
    First Name: <input type="text" name="firstname" value="@Model.FirstName" /><br />
    Last Name: <input type="text" name="lastname" value="@Model.LastName" /><br />
    Email: <input type="text" name="email" value="@Model.Email" /><br />
    Department: <input type="text" name="department" value="@Model.Department" /><br />
    Phone: <input type="text" name="phone" value="@Model.Phone" /><br />
    <input type="submit" name="Save" />
</form>



