@model Employee
@{
    ViewData["Title"] = "EmployeeDetail";
}

<h1>Employee Detail</h1>

ID: @Model.ID<br />
First Name: @Model.FirstName<br />
Last Name: @Model.LastName<br />
Email: @Model.Email<br />
Department: @Model.Department<br />

