@model Presentation
@{
    ViewData["Title"] = "Detail";
}

<h1>Presentation Details</h1>

<div><b>Person: </b>@Model.personid</div><br />
<div><b>Presentation Date: </b>@Model.presentationdate</div><br />
<div><b>Book Title: </b>@Model.booktitle</div><br />
<div><b>Book Author: </b>@Model.bookauthor</div><br />
<div><b>Genre: </b>@Model.genre</div><br />

<a href="/Presentation/Index">Back</a>



